@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap");
/*VARIABLES*/
/* NORMALIZE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  height: 100%; }

a {
  text-decoration: none;
  color: white; }

ul {
  list-style-type: none; }

/* MIXINS */
/* BODY - Media Queries */
body {
  background-image: url("../img/fondogrande.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: auto;
  justify-items: center;
  gap: 4rem;
  line-height: normal; }

@media screen and (max-width: 720px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    gap: normal;
    height: auto; } }

@media screen and (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    gap: normal;
    height: auto; } }

/* MAIN - Media Queries */
main {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center;
  gap: 4rem;
  padding: 4rem; }

.main_title {
  background-image: linear-gradient(to bottom, rgba(124, 122, 119, 0.612), rgba(135, 107, 65, 0.612));
  height: 8rem;
  max-width: 40rem;
  font-size: 2em;
  border-radius: 10px;
  position: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center;
  gap: 4rem;
  padding: 4rem;
  flex: 1 1 auto; }

.main_area__box {
  background-image: linear-gradient(to bottom, rgba(124, 122, 119, 0.612), rgba(135, 107, 65, 0.612));
  border-radius: 1em;
  height: auto; }

.main_area__box--about {
  background-image: linear-gradient(to bottom, rgba(124, 122, 119, 0.812), rgba(135, 107, 65, 0.812));
  border-radius: 1em;
  height: auto;
  max-width: 1220px; }

@media screen and (max-width: 720px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    gap: normal; } }

header {
  /* HEADER - Media Queries */
  background-color: #ad8b2d;
  border-radius: 10px;
  height: 60px;
  width: 99%;
  font-size: 2em;
  position: relative;
  top: 15%; }
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    position: relative;
    bottom: 10%; }
    header nav ul {
      display: flex;
      flex-basis: 60%;
      gap: 4rem; }
  header .link {
    position: relative;
    right: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: stretch;
    gap: 0; }
  header .links {
    transition: 0.1s; }
    header .links:hover {
      border-bottom: 2px solid;
      color: black; }
  header .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end; }
  header .navbar {
    top: 15%; }
  header .navbar > .container-fluid {
    align-items: flex-start;
    padding-bottom: 2rem; }
    header .navbar > .container-fluid .link_home {
      position: relative;
      left: 3%; }

@media screen and (max-width: 990px) {
  header {
    position: inherit;
    height: auto; }
    header nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: nowrap;
      align-content: stretch;
      align-items: center;
      gap: 2rem;
      font-size: 0.8em; }
      header nav .link {
        flex-wrap: nowrap; } }

@media screen and (max-width: 720px) {
  header .navbar > .container-fluid {
    padding-bottom: 0; } }

@media screen and (max-width: 480px) {
  header {
    position: inherit;
    height: auto; }
    header nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: nowrap;
      align-content: stretch;
      align-items: center;
      gap: 2rem;
      font-size: 0.8em; }
      header nav .link {
        flex-wrap: wrap; } }

/* FOOTER - Media Queries */
footer {
  background-color: #ad8b2d;
  height: 50px;
  width: 99%;
  border-radius: 10px;
  position: fixed;
  bottom: 8px;
  font-size: 1.6em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center;
  gap: auto;
  color: whitesmoke; }
  footer .copy {
    position: relative;
    left: 3%;
    top: 10%; }
  footer .social {
    position: relative;
    right: 3%; }

@media screen and (max-width: 720px) {
  footer {
    height: 100px;
    position: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    gap: normal; }
    footer .copy {
      position: relative;
      left: 3%; }
    footer .social {
      position: relative;
      right: 3%; } }

@media screen and (max-width: 480px) {
  footer {
    height: 100px;
    position: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    gap: normal; }
    footer .copy {
      position: relative;
      left: 3%; }
    footer .social {
      position: relative;
      right: 3%; } }

/* HOME - Media Queries */
.main_home {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  max-height: 790px;
  align-items: start;
  gap: 0; }

.logo {
  grid-column: 1 / 6;
  grid-row: 2/ 9;
  max-width: 100%;
  height: auto;
  position: relative;
  right: 12%; }
  .logo img {
    animation: animation_logo 4s alternate; }

.box {
  grid-column: 9 / 12;
  grid-row: 7/ 11;
  background-color: rgba(0, 0, 0, 0.701);
  height: 38em;
  width: 57em;
  border-radius: 10px;
  position: relative;
  top: 20%;
  left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: stretch;
  gap: 4rem; }
  .box__text {
    display: flex;
    padding: 2rem;
    font-size: 2em;
    text-align: justify;
    align-items: center;
    color: whitesmoke;
    font-family: serif; }
    .box__text .home__text, .box__text .home__text--end {
      text-decoration-line: underline;
      font-size: 25px;
      font-style: italic; }
    .box__text .home__text--end {
      text-decoration-line: none;
      font-size: 23px; }

.footer_home {
  background-color: #ad8b2d;
  height: 50px;
  width: 99%;
  border-radius: 10px;
  position: fixed;
  bottom: 8px;
  font-size: 1.6em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center;
  gap: auto;
  color: whitesmoke; }
  .footer_home .copy {
    position: relative;
    left: 3%;
    top: 10%; }
  .footer_home .social {
    position: relative;
    right: 3%; }

@media screen and (max-width: 1140px) {
  .main_home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    gap: 4rem;
    flex: 1 1 auto;
    padding: 2rem; }
    .main_home .logo {
      position: inherit;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: nowrap;
      align-content: stretch;
      align-items: stretch;
      gap: normal; }
      .main_home .logo img {
        animation: none;
        max-width: inherit; }
    .main_home .box {
      position: inherit;
      flex: 1 1 auto;
      height: auto;
      width: auto; }
  .footer_home {
    height: 100px;
    position: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    gap: normal; }
    .footer_home .copy {
      position: relative;
      left: 3%; }
    .footer_home .social {
      position: relative;
      right: 3%; } }

@media screen and (max-width: 720px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    gap: 4rem;
    flex: 1 1 auto;
    padding: 4rem; }
    main .logo {
      position: inherit;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: nowrap;
      align-content: stretch;
      align-items: stretch;
      gap: normal; }
      main .logo img {
        animation: none;
        max-width: inherit; }
    main .box {
      position: inherit;
      flex: 1 1 auto;
      height: auto;
      width: auto; }
      main .box__text {
        font-size: 1.6em; }
  .footer_home {
    height: 100px;
    position: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    gap: normal; }
    .footer_home .copy {
      position: relative;
      left: 3%; }
    .footer_home .social {
      position: relative;
      right: 3%; } }

@media screen and (max-width: 480px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    gap: 4rem;
    flex: 1 1 auto;
    padding: 3rem;
    height: auto; }
    main .logo {
      position: inherit;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: nowrap;
      align-content: stretch;
      align-items: stretch;
      gap: normal; }
      main .logo img {
        animation: none;
        max-width: inherit; }
    main .box {
      position: inherit;
      flex: 1 1 auto;
      height: auto;
      width: auto;
      padding: 0; }
      main .box__text {
        font-size: 1.6em; }
  .footer_home {
    height: 100px;
    position: inherit;
    bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    gap: normal; }
    .footer_home .copy {
      position: relative;
      left: 3%; }
    .footer_home .social {
      position: relative;
      right: 3%; } }

/* COLLECTIONS - Media Queries */
.collections {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  gap: 0rem;
  row-gap: 5em;
  height: auto;
  padding: 2rem; }
  .collections__items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    gap: 2rem;
    max-height: 800px;
    max-width: 400px;
    font-size: 1.6em;
    transition-duration: 0.3s; }
    .collections__items .items__title {
      text-decoration-line: underline;
      font-size: 25px; }
    .collections__items:hover {
      transform: translate(20px 20px) scale(105%);
      color: whitesmoke; }
      .collections__items:hover .items__text {
        display: block; }
    .collections__items .items__text {
      display: none; }

@media screen and (max-width: 720px) {
  .collections__items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    transition: none; }
    .collections__items:hover {
      transform: none;
      color: black; } }

@media screen and (max-width: 480px) {
  .collections__items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    transition: none; }
    .collections__items img {
      height: 214px; }
    .collections__items .items__title {
      font-size: 20px; }
    .collections__items:hover {
      transform: none;
      color: black; }
      .collections__items:hover .items__text {
        font-size: 1em; } }

/* LAUNCHING - Media Queries */
.ubicate {
  position: inherit;
  max-width: 900px; }

.card {
  background-image: linear-gradient(to bottom, rgba(35, 30, 23, 0.612), rgba(114, 78, 24, 0.612));
  font-size: 2em;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center;
  gap: 4rem;
  height: auto;
  width: auto;
  padding: 2rem; }
  .card img {
    width: 50%; }
  .card p .launching__title {
    text-decoration-line: underline;
    font-size: 25px; }
  .card p .launching__date {
    font-style: italic;
    font-weight: bold; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: black;
  font-weight: bold; }

.slide {
  height: 100%; }
  .slide img {
    max-height: 390px;
    max-width: 300px; }

.footer_launching {
  background-color: #ad8b2d;
  height: 50px;
  width: 99%;
  border-radius: 10px;
  position: fixed;
  bottom: 8px;
  font-size: 1.6em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center;
  gap: normal;
  color: whitesmoke; }
  .footer_launching .copy {
    position: relative;
    left: 3%;
    top: 10%; }
  .footer_launching .social {
    position: relative;
    right: 3%; }

@media (min-width: 1200px) {
  .h1, h1 {
    font-size: 1.5em; } }

@media screen and (max-width: 750px) {
  .header_launching {
    position: inherit;
    height: auto; }
    .header_launching nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: nowrap;
      align-content: stretch;
      align-items: center;
      gap: 2rem;
      font-size: 0.8em; }
      .header_launching nav .link {
        flex-wrap: wrap; } }

@media screen and (max-width: 720px) {
  .ubicate {
    max-width: 500px;
    max-height: 900px; }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: stretch;
    gap: normal; }
  .slide {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    gap: normal; }
    .slide .carousel-inner {
      overflow: visible; }
    .slide img {
      max-width: 200px;
      max-height: 300px; }
  .footer_launching {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    gap: normal;
    position: inherit; }
    .footer_launching .copy {
      position: relative;
      left: 3%; }
    .footer_launching .social {
      position: relative;
      right: 3%; } }

@media screen and (max-width: 480px) {
  .footer_launching {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    gap: normal; }
    .footer_launching .copy {
      position: relative;
      left: 3%; }
    .footer_launching .social {
      position: relative;
      right: 3%; } }

/* ABOUT */
.about_area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
  gap: 0; }
  .about_area .about_content, .about_area .about_content--reverse {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    gap: 2rem;
    padding: 4rem;
    width: 96%; }
    .about_area .about_content img, .about_area .about_content--reverse img {
      width: 100%;
      height: auto;
      max-width: 352px;
      max-height: 562px; }
    .about_area .about_content .about_text, .about_area .about_content--reverse .about_text {
      font-size: 2em;
      padding: 1rem; }
  .about_area .about_content--reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    gap: 2rem;
    width: 96%; }
    .about_area .about_content--reverse img {
      max-width: 501px;
      max-height: 351px; }

@media screen and (max-width: 1040px) {
  .about_area .about_content, .about_area .about_content--reverse {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    gap: 2rem;
    padding: 4rem;
    width: 96%; }
    .about_area .about_content .about_text, .about_area .about_content--reverse .about_text {
      font-size: 1.5em; }
  .about_area .about_content--reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    gap: 2rem;
    padding: 4rem;
    width: 96%; }
    .about_area .about_content--reverse .about_text {
      font-size: 1.5em; } }

@media screen and (max-width: 630px) {
  .about_area .about_content, .about_area .about_content--reverse {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    gap: 2rem;
    padding: 4rem;
    width: 96%; }
    .about_area .about_content img, .about_area .about_content--reverse img {
      min-width: 230px;
      min-height: 380px; }
  .about_area .about_content--reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    gap: 2rem;
    padding: 4rem;
    width: 96%; }
    .about_area .about_content--reverse img {
      min-width: 230px;
      min-height: 160px; } }

/* CONTACT - Media Queries */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center;
  gap: 5rem;
  padding: 4rem; }
  .contact .contact_form__fieldset {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column; }
  .contact .contact_form__label {
    color: black;
    font-size: 2em; }
  .contact .contact__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    gap: 5rem;
    font-size: 2em;
    height: auto;
    width: auto; }
    .contact .contact__info .map_container {
      overflow: visible;
      position: relative;
      height: 300px; }
      .contact .contact__info .map_container iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%; }

button, input, optgroup, select, textarea {
  font-size: 1.3em; }

@media screen and (max-width: 720px) {
  fieldset {
    height: 410px;
    width: 300px; }
    fieldset p {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-content: stretch;
      align-items: center;
      gap: normal; }
      fieldset p select {
        width: 50%; }
      fieldset p textarea {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%; } }

@media screen and (max-width: 420px) {
  .contact {
    width: 310px; }
  fieldset p {
    font-size: 0.8em; } }

/*ANIMATIONS*/
@keyframes animation_logo {
  from {
    transform: translate(700px, 200px) scale(25%); }
  to {
    transform: translate(0px, 0px) scale(100%); } }
