/* BODY - Media Queries */

body{
    background-image: url("../img/fondogrande.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: $primary-font;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: auto;
    justify-items: center;
    gap: 4rem;
}

@media screen and (max-width: 720px) {
    body{
        @include flex (column, flex-start, nowrap, stretch, center, normal);
        height: auto;
    }
}

@media screen and (max-width: 480px) {
    body{
        @include flex (column, flex-start, nowrap, stretch, center, normal);
        height: auto;
    }
}