footer{
    background-color: map-get($colors, primary);
    height: 50px;
    width: 99%;
    border-radius: 10px;
    position: relative;
    bottom: 15%;
    font-size: 1.6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: map-get($colors, ligth);
    .copy{
        position: relative;
        left: 3%;
    }
    .social {
        position: relative;
        right: 3%;
        top: 12%;
    }
}

@media screen and (max-width: 480px) {
    footer{
        height: 100px;
        position: absolute;
        bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .copy{
            position: relative;
            left: 3%;
    }
    .social {
        position: relative;
        right: 3%;
        top: 12%;
    }
}
}
