/* FOOTER - Media Queries */

footer{
    background-color: map-get($colors, primary);
    height: 50px;
    width: 99%;
    border-radius: 10px;
    position: fixed;
    bottom: 0;
    font-size: 1.6em;
    @include flex (row, space-between, nowrap, stretch, center, auto);
    color: map-get($colors, ligth);
    .copy{
        position: relative;
        left: 3%;
    }
    .social {
        position: relative;
        right: 3%;
        top: 12%;
    }
}

@media screen and (max-width: 720px) {
    footer{
        height: 100px;
        position: inherit;
        @include flex (column, space-evenly, nowrap, stretch, center, normal);
        .copy{
            position: relative;
            left: 3%;
    }
    .social {
        position: relative;
        right: 3%;
        top: 12%;
    }
}
}


@media screen and (max-width: 480px) {
    footer{
        height: 100px;
        position: inherit;
        @include flex (column, space-evenly, nowrap, stretch, center, normal);
        .copy{
            position: relative;
            left: 3%;
    }
    .social {
        position: relative;
        right: 3%;
        top: 12%;
    }
}
}
