header{
    background-color: $primary-color;
    border-radius: 10px;
    height: 60px;
    width: 99%;
    font-size: 2em;
    position: relative;
    top: 15%;
    nav {
        display: flex;
        align-items: center;
        gap: 2rem;
        justify-content: space-between;
        padding: 2rem;
        position: relative;
        bottom: 10%;
        ul{
            display: flex;
            flex-basis: 60%;
            gap: 4rem;
        }
    }
    .link {
        position: relative;
        right: 3%;
        display: flex;
        gap: 4rem;
        justify-content: center;
    }
    .links{
        transition: 0.1s;
        &:hover{
            border-bottom: 2px solid ;
            color: black;
        }
    }
}

@media screen and (max-width: 720px)
{
    header{
        position: inherit;
        height: auto;
        
        nav{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 0.8em;
            .link{
                flex-wrap: nowrap;
            }
        }
    }
}

@media screen and (max-width:480px){
    header {
        position: inherit;
        height: auto;
        
        nav{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 0.8em;
            .link{
                flex-wrap: wrap;
            }
        }
    }
}