.collections{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    gap: 4rem;
    &__items{
        height: 500px;
        width: 300px;
        font-size: 1.6em;
        transition: transform color 0.3s;
        &:hover{
            transform: translate(20px,20px) scale(120%);
            color: white;
        }
    }
    
}

@media screen and (max-width:480px){
    .main_title{
        background-color: $secondary-color;
        font-size: 1.4em;
        border-radius: 10px;
     }
     .main_area__box{
        width: 75%;
        max-width: 440px;
        margin:  auto;
    }
    .collections{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: nowrap;
        &__items{
            height: auto;
            width: 100%;
            font-size: 1.6em;
            display: flex;
            flex-direction: column;
            align-items: center;
            div picture img {
                height: auto;
                width: 96%;
            }
        }
    }
}