/* COLLECTIONS - Media Queries */

.list {
  padding: 2rem;

  a {
    font-size: 2.2em;
    font-family: $font-list;
    background-image: linear-gradient(
      to bottom,
      rgba(3, 3, 3, 0.812),
      rgba(29, 27, 24, 0.812)
    );
    color: white;
    padding: 1rem;
    border-radius: 10px;
    height: 30px;
  }
}

.collections {
  @include flex(row, center, wrap, space-around, center, 0rem);
  row-gap: 5em;
  height: auto;
  padding: 2rem;
  &__items {
    @include flex(column, flex-start, nowrap, stretch, center, 2rem);
    max-height: 800px;
    max-width: 400px;
    font-size: 1.6em;
    transition-duration: 0.3s;
    .collections__link {
      @include flex(column, center, nowrap, stretch, center, 2rem);
      color: black;
      &:hover {
        color: map-get($colors, ligth);
      }
    }
    .items__title {
      text-decoration-line: underline;
      font-size: 25px;
    }
    &:hover {
      transform: translate(20px 20px) scale(105%);
      color: map-get($colors, ligth);
      .items__text {
        display: block;
      }
    }
    .items__text {
      display: none;
    }
  }
  .subcollections_container {
    @include flex(row, center, wrap, space-around, center, 0rem);
    gap: 2rem;
    padding: 2rem;
    max-width: 400px;
    .subcollections_items {
      @include flex(column, center, wrap, space-around, center, 2rem);
      max-width: 400px;
    }
    .subcollections_title {
      font-size: 2rem;
      color: black;
      font-weight: bold;
    }
    .subcolecctions_text {
      font-size: 1.5rem;
      color: black;
      &--witcher {
        height: 450px;
      }
      &--sherlock {
        height: 250px;
      }
      &--esdla {
        height: 300px;
      }
      &--poe {
        height: 250px;
      }
      &--all {
        height: 200px;
        overflow: scroll;
      }
      &--all::-webkit-scrollbar {
        -webkit-appearance: none;
      }
      &--all::-webkit-scrollbar:vertical {
        width: 0px;
      }
      &--price {
        font-size: 2em;
        display: flex;
        justify-content: center;
        color: black;
      }
    }

    .subcollections_img {
      max-height: 400px;
      max-width: 200px;
    }
  }
}

.button {
  color: black;
  background-color: map-get($colors, primary);
  padding: 5px;
  border: none;
  &--cart {
    padding: 12px;
    color: black;
    background-color: map-get($colors, primary);
    border: none;
    font-size: 1.2em;
    border-radius: 5%;
  }
}

.cart-bg {
  background-image: linear-gradient(
    to bottom,
    rgba(135, 107, 65, 0.812),
    rgba(124, 122, 119, 0.812)
  );
}

@media screen and (max-width: 720px) {
  .collections {
    &__items {
      @include flex(column, flex-start, wrap, stretch, center, 2rem);
      padding: 2rem;
      transition: none;
      &:hover {
        transform: none;
        color: black;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .collections {
    &__items {
      @include flex(column, flex-start, wrap, stretch, center, 2rem);
      padding: 2rem;
      transition: none;
      img {
        height: 214px;
      }
      .items__title {
        font-size: 20px;
      }
      &:hover {
        transform: none;
        color: black;
        .items__text {
          font-size: 1em;
        }
      }
    }
  }
}
