/* CONTACT - Media Queries */

.contact{
    @include flex(column, space-around, nowrap, stretch, center, 5rem);
    padding: 4rem;
    .contact_form__fieldset{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;

    }
    .contact_form__label{
        color: map-get($colors, dark);
        font-size: 2em;
        
        
    }
    .contact__info{
        @include flex (row, center, wrap, stretch, center, 5rem);
        font-size: 2em; 
        height: auto;
        width: auto;
        .map_container{
            overflow:visible;
            position:relative;
            height:300px;
            iframe{
                left:0;
                top:0;
                height:100%;
                width:100%;
            }
        }                   
    }
}
button, input, optgroup, select, textarea{
    font-size: 1.3em;
}


@media screen and (max-width: 720px) {
    fieldset{
        height: 410px;
        width: 300px;
        p{
            @include flex(column, flex-start, wrap, stretch, center, normal);
            select{
                width: 50%;
            }
            textarea{
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                width: 100%;
            }
        }
    }
    
    
}

@media screen and (max-width: 420px){
    .contact{
        width: 310px;
    }
    fieldset{
        p{
            font-size: 0.8em;
        }
    }
}