.contact{
    @include flex(column, space-around, nowrap, stretch, center, 4rem);
    .contact_form__label{
        color: map-get($colors, dark);
        font-size: 2em;
        
    }
    .contact__info{
        @include flex (row, space-around, nowrap, stretch, center, 5rem);
        font-size: 2em;                                   
    
    }
}