.main_home{
    display: grid;
    grid-template-columns:repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    max-height: 790px ;
    align-items: start;
    gap: 0;
}

.logo {
        grid-column: 1 / 6;
        grid-row: 2/ 9;
        max-width: 100%;
        height: auto;
        position: relative;
        right: 12%;
        img{
            animation: animation_logo 4s alternate;
        }
    }
.box{
        grid-column: 9 / 12;
        grid-row: 7/ 11;
        background-color: rgba(0, 0, 0, 0.701);
        height: 38em;
        width: 57em;
        border-radius: 10px;
        position: relative;
        top: 20%;
        left: 10%;
        display: flex;
        justify-content: center;
        gap: 4rem;
        &__text{
            display: inline-block;
            padding: 2rem;
            font-size: 2em;
            text-align: justify;
            color: white;
            font-family:serif;
        }
    }


.footer_home{
        background-color: $primary-color;
        height: 50px;
        width: 99%;
        border-radius: 10px;
        position: fixed;
        bottom: 0px;
        font-size: 1.6em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: whitesmoke;
        .copy{
            position: relative;
            left: 3%;
        }
        .social {
            position: relative;
            right: 3%;
            top: 12%;
        }
    }

@media screen and (max-width: 1140px){
    .main_home{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 auto;
        gap: 4rem;
        padding: 2rem;
        .logo{
            position: inherit;
            display: flex;
            justify-content: center;
            img{
                animation: none;
                max-width: inherit;
            }
        }
        .box{
            position: inherit;
            flex: 1 1 auto;
            height: auto;
            width: auto;
        }
    }
    .footer_home{
            height: 100px;
            position: inherit;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            .copy{
                position: relative;
                left: 3%;
        }
        .social {
            position: relative;
            right: 3%;
            top: 12%;
        }
    }
    
}

@media screen and (max-width: 720px) {
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 auto;
        gap: 4rem;
        padding: 4rem;
        .logo{
            position: inherit;
            display: flex;
            justify-content: center;
            img{
                animation: none;
                max-width: inherit;
            }
        }
        .box{
            position: inherit;
            flex: 1 1 auto;
            height: auto;
            width: auto;
            &__text{
                font-size: 1.6em;                
            }
        }
    }
    .footer_home{
        height: 100px;
        position: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .copy{
            position: relative;
            left: 3%;
    }
    .social {
        position: relative;
        right: 3%;
        top: 12%;
    }
}
}

@media screen and (max-width: 480px){
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 auto;
        gap: 4rem;
        padding: 4rem;
        height: auto;
        .logo{
            position: inherit;
            display: flex;
            justify-content: center;
            img{
                animation: none;
                max-width: inherit;
            }
        }
        .box{
            position: inherit;
            flex: 1 1 auto;
            height: auto;
            width: auto;
            padding: 0;
            &__text{
                font-size: 1.6em;
            }
        }
    }
    .footer_home{
        height: 100px;
        position: inherit;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .copy{
            position: relative;
            left: 3%;
    }
    .social {
        position: relative;
        right: 3%;
        top: 12%;
    }
}
 }