/* HOME - Media Queries */

.main_home{
    display: grid;
    grid-template-columns:repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    max-height: 790px ;
    align-items: start;
    gap: 0;
}

.logo {
        grid-column: 1 / 6;
        grid-row: 2/ 9;
        max-width: 100%;
        height: auto;
        position: relative;
        right: 12%;
        img{
            animation: animation_logo 4s alternate;
        }
    }
.box{
        grid-column: 9 / 12;
        grid-row: 7/ 11;
        background-color: rgba(0, 0, 0, 0.701);
        height: 38em;
        width: 57em;
        border-radius: 10px;
        position: relative;
        top: 20%;
        left: 10%;
        @include flex (row, center, nowrap, stretch, stretch, 4rem);
        &__text{
            display: flex;
            padding: 2rem;
            font-size: 2em;
            text-align: justify;
            align-items: center;
            color: map-get($colors, ligth);
            font-family:serif;
            .home__text{
                text-decoration-line: underline;
                font-size: 25px;
                font-style: italic;
            }
            .home__text--end{
                @extend .home__text;
                text-decoration-line: none;
                font-size: 23px;
            }
        }
    }


.footer_home{
        background-color: map-get($colors, primary);
        height: 50px;
        width: 99%;
        border-radius: 10px;
        position: fixed;
        bottom: 8px;
        font-size: 1.6em;
        @include flex (row, space-between, nowrap, stretch, center, auto);
        color: map-get($colors, ligth);
        .copy{
            position: relative;
            left: 3%;
            top: 10%;
        }
        .social {
            position: relative;
            right: 3%;
        }
    }

@media screen and (max-width: 1140px){
    .main_home{
        @include flex (column, flex-start, nowrap, stretch, center, 4rem);
        flex: 1 1 auto;
        padding: 2rem;
        .logo{
            position: inherit;
            @include flex (row, center, nowrap, stretch, stretch, normal);
            img{
                animation: none;
                max-width: inherit;
            }
        }
        .box{
            position: inherit;
            flex: 1 1 auto;
            height: auto;
            width: auto;
        }
    }
    .footer_home{
            height: 100px;
            position: inherit;
            @include flex (row, space-between, nowrap, stretch, center, normal);
            .copy{
                position: relative;
                left: 3%;
        }
        .social {
            position: relative;
            right: 3%;
        }
    }
    
}

@media screen and (max-width: 720px) {
    main{
        @include flex (column, flex-start, nowrap, stretch, center, 4rem);
        flex: 1 1 auto;
        padding: 4rem;
        .logo{
            position: inherit;
            @include flex (row, center, nowrap, stretch, stretch, normal);
            img{
                animation: none;
                max-width: inherit;
            }
        }
        .box{
            position: inherit;
            flex: 1 1 auto;
            height: auto;
            width: auto;
            &__text{
                font-size: 1.6em;                
            }
        }
    }
    .footer_home{
        height: 100px;
        position: inherit;
        @include flex (column, space-evenly, nowrap, stretch, center, normal);
        .copy{
            position: relative;
            left: 3%;
    }
    .social {
        position: relative;
        right: 3%;
    }
}
}

@media screen and (max-width: 480px){
    main{
        @include flex (column, flex-start, nowrap, stretch, center, 4rem);
        flex: 1 1 auto;
        padding: 3rem;
        height: auto;
        .logo{
            position: inherit;
            @include flex (row, center, nowrap, stretch, stretch, normal);
            img{
                animation: none;
                max-width: inherit;
            }
        }
        .box{
            position: inherit;
            flex: 1 1 auto;
            height: auto;
            width: auto;
            padding: 0;
            &__text{
                font-size: 1.6em;
            }
        }
    }
    .footer_home{
        height: 100px;
        position: inherit;
        bottom: 8px;
        @include flex (column, space-evenly, nowrap, stretch, center, normal);
        .copy{
            position: relative;
            left: 3%;
    }
    .social {
        position: relative;
        right: 3%;
    }
}
 }