/* LAUNCHING - Media Queries */

.ubicate{
    position: inherit;
    max-width: 900px;
}
.card{
    background-image: linear-gradient(to bottom,rgba(35, 30, 23, 0.612),rgba(114, 78, 24, 0.612)  );
    font-size: 2em;
    color: map-get($colors, dark);
    @include flex (row, flex-start, nowrap, stretch, center, 4rem);
    height: auto;
    width: auto;
    padding: 2rem;
    img{
        width: 50%;
    }
    p{
        .launching__title{
            text-decoration-line: underline;
            font-size: 25px;
        }
        .launching__date{
            font-style: italic;
            font-weight: bold;
            
        }
    }
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    color: black;
    font-weight: bold;
}
.slide{
    height: 100%;
    img{
        max-height: 390px;
        max-width: 300px
    };
}

.footer_launching{
    background-color: map-get($colors, primary);
    height: 50px;
    width: 99%;
    border-radius: 10px;
    position: fixed;
    bottom: 8px;
    font-size: 1.6em;
    @include flex (row, space-between, nowrap, stretch, center, normal);
    color: map-get($colors, ligth);
    .copy{
        position: relative;
        left: 3%;
        top: 10%;
    }
    .social {
        position: relative;
        right: 3%;
    }
}

@media (min-width: 1200px){
    .h1, h1 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 750px) {
    .header_launching{
        position: inherit;
        height: auto;
        nav{
            @include flex (column, space-between, nowrap, stretch, center, 2rem);
            font-size: 0.8em;
            .link{
                flex-wrap: wrap;
            }
        }
    }
    
}

@media screen and (max-width: 720px) {
    .ubicate{
        max-width: 500px;
        max-height: 900px;
    }
    .card{
        @include flex (column, flex-start, nowrap, stretch, center, normal);
    }
    .slide{
        @include flex (row, flex-start, nowrap, stretch, center, normal);
        .carousel-inner{
            overflow: visible;
        }
        img{
            max-width: 200px;
            max-height: 300px;
        }
    }
    .footer_launching{
        height: 100px;
        @include flex (column, space-evenly, nowrap, stretch, center, normal);
        position: inherit;
        .copy{
            position: relative;
            left: 3%;
    }
    .social {
        position: relative;
        right: 3%;
    }
}
}

@media screen and (max-width: 480px){
    .footer_launching{
        height: 100px;
        @include flex (column, space-evenly, nowrap, stretch, center, normal);
        .copy{
            position: relative;
            left: 3%;
    }
    .social {
        position: relative;
        right: 3%;
    }
}
 }