.ubicate{
    grid-row: 5/11;
    grid-column: 3/10;
    position: relative;
    left: 8%;
}
.card{
    background-image: linear-gradient(to bottom,rgba(35, 30, 23, 0.612),rgba(114, 78, 24, 0.612)  );
    font-size: 2em;
    color: map-get($colors, dark);
    display: flex;
    flex-direction: row;
    gap: 4rem;
    height: 40rem;
    width: 110rem;
    img{
        width: 100%;
    }
}